{% extends "base.html" %}
{% block content %}

<h2>Horarios de doctores</h2>

<a href="{% url 'rrhh_crear_horario' %}" class="btn btn-primary mb-3">
    Añadir horario
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Día</th>
            <th>Inicio</th>
            <th>Fin</th>
        </tr>
    </thead>

    <tbody>
        {% for h in horarios %}
        <tr>
            <td>{{ h.doctor }}</td>
            <td>{{ h.get_dia_semana_display }}</td>
            <td>{{ h.hora_inicio }}</td>
            <td>{{ h.hora_fin }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4" class="text-center text-muted">No hay horarios registrados.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
